<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login - DentalCare Web</title>
</head>
<body>
    <h1>Ingresar al Sistema</h1>
    
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul style="color: red;">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form method="POST" action="/">
        <div>
            <label>Usuario:</label>
            <input type="text" name="usuario" required>
        </div>
        <br>
        <div>
            <label>Clave:</label>
            <input type="password" name="clave" required>
        </div>
        <br>
        <button type="submit">Ingresar</button>
    </form>
    <br>
    <a href="{{ url_for('registro') }}">¿No tenés cuenta? Registrate acá</a>
    
</body>
</html>